@import "~react-toolbox/lib/colors";

$color-primary: #4CAF50;
$color-primary-dark: #388E3C;
$color-primary-light: #99bf9b;

$color-accent: #ffb20d;
$color-accent-dark: #af7709;
$color-accent-light: #fccb60;
